/* desktop */

.overlay{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 605px;
    height: 447px;
    margin: 0 auto;
    padding: 17px;
}
.title{
    font-weight: 700;
    font-size: 34px;
    margin: 0;
    color: rgb(33, 33, 33);
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.button_wrapper{
    display: flex;
    align-items: center;
    margin-left: 345px;
}
.input{
    width: 239px;
    color: rgb(33, 33, 33);
    border: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    outline: none;
}
.input_wrapper_first{
    width: 50%;
    margin-bottom: 65px;
}
.input_wrapper_second{
    width: 50%;
    margin-bottom: 65px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bloodtype_text{
    color: rgb(155, 159, 170);
    font-size: 14px;
}
.label_text{
   color: rgb(155, 159, 170);
   font-size: 14px;
   padding-right: 5px;
   letter-spacing: 0.04em;
}
.radio_item {
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }

  .radio_item input[type='radio'] {
    display: none;
  }
  .radio_item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid rgb(224, 224, 224);
    background-color: transparent;
  }
  .radio_item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 12px;
    left: 13px;
    content: " ";
    display: block;
    background: rgb(252, 132, 45);
  }
  .button{
    width: 176px;
    height: 44px;
    border-radius: 30px;
    padding: 13px 26px 13px 26px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: rgb(252, 132, 45);
    color: rgb(255, 255, 255);
    outline: none;
    border: 0;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
  }
  /* Firefox */

input[type=number] {
    -moz-appearance: textfield;
  }

  /* tablet */
@media (max-width: 768px) and (orientation : landscape){
    .overlay{
        width: 605px;
        height: 420px;
    }
    .title{
        font-size: 30px;
    }
    .button_wrapper{
        margin: 0;
    }
}

/* mobile */

@media (max-width: 320px){
    .overlay{
        width: 320px;
        height: auto;
    }
    .input_wrapper_first {
        width: auto;
        margin-bottom: 0;
    }
    .input_wrapper_second{
        width: auto;
        margin-bottom: 42px;
    }
    .form{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .button_wrapper{
        margin-left: 0;
    }
    .title{
        font-size: 18px;
        margin-bottom: 14px;
        width: 290px;
        height: auto;
    }
    .radio_item{
        padding: 0 10px;
    }
    .radio_item input[type=radio]:checked + label:after{
        top: 12px;
        left: 16px;
    }
    .input{
        margin-bottom: 8px;
    }
}