h1 {
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
}
p {
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #9b9faa;
}

.Tablet {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 768px;
  height: 350px;
  left: 0px;
  bottom: 0px;
  background-color: grey;
  background-repeat: no-repeat;
  border: none;
  }

  .Mobile {
    /* padding-top: 30px; */
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 433px;
    left: 0px;
    bottom: 0px;
    background-color: grey;
    background-repeat: no-repeat;
    border: none;
    }

    .Desktop {
        /* padding-top: 30px; */
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 320px;
        height: 433px;
        right: 0px;
        /* bottom: 0px; */
        background-color: grey;
        background-repeat: no-repeat;
        border: none;
        }

.InfoBlocks {
    padding-top: 20px;
  width: 290px;
  /* display:flex; */
}
.Summary {
  /* padding-top: 30px;   */
  height: 112px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
